@import './vendor/_bootstrap.scss';

/* vars */
$primary-color: #3b5a76;
$background-color: #ededed;
$text-color: #363636;
$font: 16px;

body {
    background-color:$background-color;
    padding: 20px;
    font-family: 'Open Sans' , Arial, Helvetica, sans-serif;
    color: $text-color;
    font-size: $font;

}

.profile-img {
    width:20%;
    display:block;
    margin: auto;
    margin-top: -80px;
}

.primary , strong , h2 {
    color:$primary-color;
    text-transform: uppercase;
    font-weight: 700;
}

.container-main {
    background:#fff;
    margin-top: 80px;
    padding: 0 30px 30px 30px;
}

header {
    min-height: 100px;
    overflow: auto;
}

header h1 {
    margin: 0;
    padding: 20px 0 0 0;
    font-weight: 700;
    font-size: 2.2em;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
    line-height: 1.3em;
}

.list-group, .list-group-item {
    border: none;
}

.row {
    margin-top:30px;
}


.project-img {
    width:35%;
}

footer {
    padding:20px;
    text-align:center;
    font-weight: bold;
}
